.contactimage {
  width: 80%;
  background-size: cover;
  opacity: 70%;
  background-image: url('https://github.com/borakuldeep/solidjs-templates-sftyh4/blob/main/src/assets/webimg5.jpg?raw=true');
  transition: filter 1s ease-in;
  filter: grayscale(100%);
}

.contactimage:hover {
  filter: none;
}

@media (max-width: 600px) {
  .contactimage {
    display: none;
  }
}
