.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.imagetext {
  position: absolute;
  color: white;
  z-index: 99;
  width: 25%;
  margin-top: 10px;
}
.images {
  display: flex;
  background-color: #f2f0ff;
}

.image {
  margin: 0 6px;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
  height: 95vh;
}

.image img {
  transform-origin: 50% 65%;
  transition: transform 2s, filter 2s ease-in;
  filter: brightness(120%);
  /* width: 25vw;
  height: 500px; */
  width: 25vw;
  padding-top: 10%;
}

/* The Transformation */
.image:hover img {
  filter: brightness(100%);
  transform: scale(1.4);
}

@media (max-width: 900px) {
  .image {
    padding: 0;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .images {
    flex-direction: column;
  }

  .imagetext {
    width: 100%;
  }
}

.header {
  --background-color: #282c34;
  background-color: #f2f0ff;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.link {
  color: #b318f0;
}
