.App {
  text-align: center;
}

.header {
  /* background-color: #282c34; */
  display: flex;
  letter-spacing: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: rgb(65, 60, 60);
}
