.App {
  text-align: center;
}

.header {
  /* background-color: #282c34; */
  display: flex;
  letter-spacing: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: rgb(65, 60, 60);
}

.page {
  display: flex;
  background-image: linear-gradient(to right, #f2f0ff, rgb(61, 61, 61));
  height: 100vh;
}

.pagetext {
  width: 70%;
  padding: 2rem;
}

@media (max-width: 800px) {
  .pagetext {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header {
    letter-spacing: 4px;
  }
}
